name: Liesel Wäppen, One Two Go!
markdown: kramdown
permalink: /blog/:year/:month/:day/:title
prose:
  rooturl: '_posts'
  siteurl: 'http://lieselwaeppen.github.io/'
  relativeLinks: 'http://lieselwaeppen.github.io/links.jsonp'
  media: 'img'
  ignore:
    - index.md
    - _config.yml
    - /_layouts
    - /_includes
  metadata:
    _posts:
      - name: "layout"
        field:
          element: "hidden"
          value: "post"
      - name: "title"
        field:
          label: "Title"
          element: "text"
          value: "An Awesome Headline!"
      - name: "subtitle"
        field:
          element: "text"
          label: "Subtitle"
          placeholder: "Enter Post Subtitle"
      - name: "date"
        field:
          element: "text"
          label: "Has this page been modified?"
          value: CURRENT_DATETIME
      - name: "author"
        field:
          element: "text"
          label: "Author"
          value: "Liesel Wäppen"
      - name: "img"
        field:
          element: "text"
          label: "Image"
          placeholder: "/img/pic01.jpg"
      - name: "published"
        field:
          label: "Published"
          element: "checkbox"
          value: "true"
      - name: "tags"
        field:
          element: "text"
          label: "Tags"
          placeholder: "Enter tags, separated by spaces"

